{% extends 'layouts/main_layout/main_layout.html' %}
{% load static %}

{% block links %}
    {% include 'pages/about/includes/links.html' %}
    <link rel="stylesheet" href="{% static 'pages/about/css/custom_about.css' %}">
{% endblock links %}


{% block body %}
    {% include 'general_includes/banner/banner.html' with adress_string="Əsas Səhifə" name="Haqqımızda" %}
    {% include 'pages/about/includes/info_area.html' %}
    {% include 'pages/about/includes/qa_area.html' %}
{% endblock body %}

{% block scripts %}
    {% include 'pages/about/includes/scripts.html' %}
{% endblock scripts %}