{% extends 'layouts/main_layout/main_layout.html' %}
{% load static %}


{% block metas %}
    <meta name="title" content="Elmed Klinikası - Klinikamız haqqında məlumat əldə edin">
    <meta name="description" content="Klinikamızda tətbiq olunan yüksək tibbi texnologiyalar vasitəsilə pasiyentlərin sağlamlığını tam şəkildə qoruyaraq, cəmiyyətimizə ən yaxşı xidməti göstərməyə çalışırıq.">
{% endblock metas %}


{% block title %}
    <title>Haqqımızda - Elmed Klinikası</title>
{% endblock title %}


{% block links %}
    {% include 'pages/about/includes/links.html' %}
    <link rel="stylesheet" href="{% static 'pages/about/css/custom_about.css' %}">
{% endblock links %}


{% block body %}
    {% include 'general_includes/banner/banner.html' with adress_string="Baş Səhifə" name="Haqqımızda" %}
    {% include 'pages/about/includes/info_area.html' %}
    {% comment %} {% include 'pages/about/includes/qa_area.html' %} {% endcomment %}
{% endblock body %}

{% block scripts %}
    {% include 'pages/about/includes/scripts.html' %}
{% endblock scripts %}