{% extends 'layouts/main_layout/main_layout.html' %}

{% load static %}


{% block links %}
    {% include 'doctor/doctor_list/includes/links.html' %}
{% endblock links %}

{% block body %}
    {% include 'general_includes/banner/banner.html' %}

     <!-- All Doctors Start Here -->
        <section class="team-wrap-layout3 bg-light-accent100">
            <div class="container">
                {% include 'doctor/doctor_list/includes/search_area.html' with departaments=departaments %}
                {% include 'doctor/doctor_list/includes/doctors_area.html' with doctors=doctors %}
                {% include 'general_includes/pagination/pagination.html' with page_obj=page_obj page_list=page_list %}
            </div>
        </section>
        <!-- All Doctors End Here -->
{% endblock body %}

{% block scripts %}
    {% include 'doctor/doctor_list/includes/scripts.html' %}
{% endblock scripts %}
