<div class="col-xl-6 col-12">
    <div class="single-product-info">
        <h2 class="item-title">{{ campaign.title }}</h2>
        {% if campaign.price != 0 %}
            <div class="price">{{ campaign.price | floatformat:2}} AZN</div>
        {% else %}
            <div class="price">Ödənişsiz</div>
        {% endif %}
        <div class="item-sku">Tarix:
            <span>{{ campaign.date_interval }}</span>
        </div>
        <div class="item-sku">Saat aralığı:
            <span>{{ campaign.time_interval }}</span>
        </div>
        <div class="item-stock">Davam Edir:
            {% if campaign.available %}
                <span style="font-weight: 700; color: green;">BƏLİ</span>
            {% else %}
                <span style="font-weight: 700; color: red;">Xeyr</span>
            {% endif %}
        </div>
        <p>Kampaniyaya qoşulmaq üçün tələsin! Aşağıdakı telefon nömrəsi ilə əlaqə saxlayaraq qeydiyyatdan
        keçə bilərsiz:</p>
        <div class="cart-action-area">
            <form id="cart-quantity">
                <ul class="cart-quantity">
                    <li>
                        <a href="#" class="item-btn" style="letter-spacing: 2px">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span class="ml-2">+994-51-888-33-13</span>
                        </a>
                    </li>
                </ul>
            </form>
            
        </div>
        <div id="share-section" class="product-share">
            <ul>
                <li>Paylaş:</li>
                <li>
                    <a id="fb-share-button" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a id="whatsapp-share-button" href="#">
                        <i class="fab fa-whatsapp font-weight-bold" aria-hidden="true" style="font-size: 18px;"></i>
                    </a>
                </li>
                <li>
                    <a id="twitter-share-button" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a id="copy-url" href="#" data-toggle="tooltip" data-placement="bottom" title="Copied" data-trigger="click">
                        <i class="fa fa-link"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>