<div class="col-xl-6 col-12">
    <div class="single-product-gallery">
        <div class="tab-content p-3">
            <div role="tabpanel" class="tab-pane fade active show" id="fitness-related1">
                <a>
                    <img alt="single" src="{{ campaign.first_image.url }}" class="img-responsive"
                        style="width: 100%; height: 300px; object-fit: contain;">
                </a>
            </div>
            
            {% if campaign.second_image %}
                <div role="tabpanel" class="tab-pane fade" id="fitness-related2">
                    <a>
                        <img alt="single" src="{{ campaign.second_image.url }}" class="img-responsive"
                            style="width: 100%; height: 300px; object-fit: contain;">
                    </a>
                </div>
            {% endif %}
                
            {% if campaign.third_image %}
                <div role="tabpanel" class="tab-pane fade" id="fitness-related3">
                    <a>
                        <img alt="single" src="{{ campaign.third_image.url }}" class="img-responsive"
                            style="width: 100%; height: 300px; object-fit: contain;">
                    </a>
                </div>
            {% endif %}
                
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#fitness-related1" data-toggle="tab" aria-expanded="false"
                    class="active p-2">
                    <img alt="fitness-related1" src="{{ campaign.first_image.url }}" class="img-responsive"
                        style="width: 100%; height: 101px; object-fit: contain;">
                </a>
            </li>
            
            {% if campaign.second_image %}
                <li class="nav-item">
                    <a href="#fitness-related2" data-toggle="tab" aria-expanded="false"
                        class="p-2">
                        <img alt="fitness-related2" src="{{ campaign.second_image.url }}" class="img-responsive"
                            style="width: 100%; height: 101px; object-fit: contain;">
                    </a>
                </li>
            {% endif %}
            
            {% if campaign.third_image %}
                <li class="nav-item">
                    <a href="#fitness-related3" data-toggle="tab" aria-expanded="false"
                        class="p-2">
                        <img alt="fitness-related3" src="{{ campaign.third_image.url }}" class="img-responsive"
                            style="width: 100%; height: 101px; object-fit: contain;">
                    </a>
                </li>
            {% endif %}
                
            
        </ul>
    </div>
</div>