{% load static %}

<!-- Footer Area Start Here -->
<footer>
    <section class="footer-top-wrap">
        <div class="container">
            <div class="row">
                <div class="single-item col-lg-3 col-md-6 col-12">
                    <div class="footer-box">
                        <div class="footer-logo">
                            <a href="index.html"><img src="{% static 'general/base/img/footerlogo.png' %}" class="img-fluid" alt="footer-logo"></a>
                        </div>
                        <div class="footer-about">
                            <p>Peşəkar həkim heyətilə sizlərə sağlamlığınızla əlaqədar hər növ xidməti verməyə hazırıq.
                            </p>
                        </div>
                        <div class="footer-contact-info">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i>Bakı şəhəri, 9-cu mikrorayon., Mir Cəlal küç., 51 C</li>
                                <li><i class="fas fa-phone"></i>(+994)-77-303-41-14</li>
                                <li><i class="far fa-envelope"></i>medilink@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-item col-lg-3 col-md-6 col-12">
                    <div class="footer-box">
                        <div class="footer-header">
                            <h3>Departments</h3>
                        </div>
                        <div class="footer-departments">
                            <ul>
                                <li><a href="single-departments.html">Dental Care</a></li>
                                <li><a href="single-departments.html">Medicine</a></li>
                                <li><a href="single-departments.html">Orthopedic</a></li>
                                <li><a href="single-departments.html">Emergency</a></li>
                                <li><a href="single-departments.html">Skilled Doctors</a></li>
                                <li><a href="single-departments.html">Certified Clinic</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-item col-lg-3 col-md-6 col-12">
                    <div class="footer-box">
                        <div class="footer-header">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="footer-quick-link">
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="about.html">What We Do</a></li>
                                <li><a href="faq.html">Faq’s</a></li>
                                <li><a href="appointment.html">Appointment</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="contact.html">24/7 Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-item col-lg-3 col-md-6 col-12">
                    <div class="footer-box">
                        <div class="footer-header">
                            <h3>Opening Hours</h3>
                        </div>
                        <div class="footer-opening-hours">
                            <ul>
                                <li>Mon - Tue: 9.00 - 17.00</li>
                                <li>Wed - Thur: 9.00 - 16.00</li>
                                <li>Fri - Sat: 9.00 - 12.00</li>
                                <li>Saturday: 9.00 - 14.00</li>
                                <li>Sunday:<span> Closed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-center-wrap">
        <div class="container">
            <ul class="row no-gutters justify-content-center text-center display-3">
                <li class="col-4 col-md-2"><a href="#" class="text-white"><i class="fab fa-facebook-square"></i></a></li>
                <li class="col-4 col-md-2"><a href="#" class="text-white"><i class="fab fa-instagram"></i></a></li>
                <li class="col-4 col-md-2"><a href="#" class="text-white"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="footer-bottom-wrap d-block pt-1">
        <div class="copyright text-white">Bütün hüquqları qorunur © www.elmed.az <script>document.write(new Date().getFullYear())</script></a></div>
        <div class="text-white">Developed by <b>Cavad Salman</b></div>
        <div class="text-white">Content by "R.G Company MMC"</div>
    </section>
</footer>
<!-- Footer Area End Here -->