{% load static %}

<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<!-- scrollUp Start Here -->
<a href="#wrapper" data-type="section-switch" class="scrollUp">
<i class="fas fa-angle-double-up"></i>
</a>
<!-- scrollUp End Here -->
<div id="wrapper" class="wrapper">
<!-- Header Area Start Here -->
<header id="header_3">
    <div class="header-menu-area header-menu-layout3">
        <div class="container">
            <div class="row no-gutters d-flex align-items-center">
                <div class="col-lg-2 col-md-2 logo-area-layout1">
                    <a href="{% url 'home' %}" class="temp-logo">
                        <img src="{% static 'general/base/img/logo-light.png' %}" alt="logo" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-7 col-md-7 possition-static">
                    <div class="template-main-menu">
                        <nav id="dropdown">
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">Əsas Səhifə</a>
                                </li>
                                <li>
                                    <a href="{% url 'departament-list' %}">Şöbələr</a>
                                </li>                           
                                <li>
                                    <a href="{% url 'doctor-list' %}">Həkimlər</a>
                                </li>                           
                                <li>
                                    <a href="{% url 'blog' %}">Bloq</a>
                                </li>                           
                                <li>
                                    <li><a href="{% url 'about' %}">Haqqımızda</a></li>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">Əlaqə</a>
                                </li>                           
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header-action-items-layout1">
                        <ul>
                            <li>
                                <a href="{% url 'appointment' %}" class="action-items-light-btn ml-3">Onlayn Randevu</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>