{% load static %}

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'general/base/img/favicon.png' %}">
<!-- Normalize CSS -->
<link rel="stylesheet" href="{% static 'general/base/css/normalize.css' %}">
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'general/base/css/main.css' %}">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'general/base/css/bootstrap.min.css' %}">
<!-- Animate CSS -->
<link rel="stylesheet" href="{% static 'general/base/css/animate.min.css' %}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="{% static 'general/base/css/fontawesome-all.min.css' %}">
<!-- Flaticon CSS -->
<link rel="stylesheet" href="{% static 'general/base/fonts/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'general/base/css/font/flaticon.css' %}">
<!-- Meanmenu CSS -->
<link rel="stylesheet" href="{% static 'general/base/css/meanmenu.min.css' %}">
