{% load static %}

<!-- jquery-->
<script src="{% static 'general/base/js/jquery-2.2.4.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'general/base/js/plugins.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'general/base/js/popper.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'general/base/js/bootstrap.min.js' %}"></script>
<!-- Counterup Js -->
<script src="{% static 'general/base/js/jquery.counterup.min.js' %}"></script>
<!-- WOW JS -->
<script src="{% static 'general/base/js/wow.min.js' %}"></script>
<!-- Waypoints Js -->
<script src="{% static 'general/base/js/waypoints.min.js' %}"></script>
<!-- Parallaxie Js -->
<script src="{% static 'general/base/js/parallaxie.js' %}"></script>