<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="widget widget-appointment">
    <h3 class="section-title-light title-bar-light">Book Appointment</h3>
    <form id="appointment-form" action="{% url 'appointment' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select name="departament" class="select2" data-error="Phone field is required">
                <option value="">Select Department</option>
                {% for departament in departaments %}
                    <option 
                        value="{{ departament.id }}"
                        {% if selected_departament == departament.slug %}selected{% endif %}>
                        {{ departament.name }} Şöbəsi
                    </option>
                {% endfor %}
            </select>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <select name="doctor" class="select2" data-error="Phone field is required">
                <option value="">Choose Doctor by Name</option>
                {% for doctor in doctors %}
                    <option value="{{ doctor.id }}">Dr. {{ doctor.name }}</option>
                {% endfor %}
            </select>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Patient Name *" class="form-control" name="name" id="form-name"
                data-error="Name field is required" required maxlength="50">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Phone *" class="form-control" name="phone" id="form-phone"
                data-error="Phone field is required" required maxlength="50">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <input type="email" placeholder="E-mail" class="form-control" name="email" id="form-email"
                data-error="E-mail field is required" required maxlength="50">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <i class="far fa-calendar-alt"></i>
            <input type="text" class="form-control rt-date" placeholder="Appointment Date"
                name="date" id="form-date" data-error="Subject field is required"/>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <i class="far fa-clock"></i>
            <input type="text" class="form-control rt-time" placeholder="Time" name="time" id="form-time"
                data-error="Subject field is required" />
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <textarea placeholder="Type Appintment Note *" class="textarea form-control" name="note"
                id="form-message" rows="5" cols="20" data-error="Message field is required"
                required></textarea>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group text-center">
            <button 
                class="item-btn g-recaptcha" 
                data-sitekey="6LcNJ9sbAAAAAGalq-RFjtKWAEMDaOQp2AnCCU5T"
                data-callback="onSubmit" 
                data-action="submit">
                BOOK NOW
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </form>
</div>
<script>
    function onSubmit(token) {
        document.getElementById("appointment-form").submit();
    }
</script>