{% load static %}

<div class="blog-author">
    <div class="media media-none--xs">
        <a href="{{ article.doctor.get_absolute_url }}">
            <img src="{{ article.doctor.image.url }}" style="width: 130px; height: 130px; object-fit: cover; object-postion: top;" alt="Blog Author" class="rounded-circle media-img-auto">
        </a>
        <div class="media-body">
            <a href="{{ article.doctor.get_absolute_url }}">
                <h4 class="author-title">{{ article.doctor.name}}</h4>
            </a>
            <p>{{ article.doctor.profession }}</p>
            <ul class="author-social">
                {% if article.doctor.facebook %}
                    <li><a href="{{ article.doctor.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                {% endif %}

                {% if article.doctor.youtube %}
                    <li><a href="{{ article.doctor.youtube }}"><i class="fab fa-youtube"></i></a></li>
                {% endif %}
                    
                {% if article.doctor.instagram %}
                    <li><a href="{{ article.doctor.instagram }}"><i class="fab fa-instagram"></i></a></li>
                {% endif %}

                {% if article.doctor.whatsapp %}
                    <li><a href="{{ article.doctor.whatsapp }}"><i class="fab fa-whatsapp"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>