{% extends 'layouts/main_layout/main_layout.html' %}


{% block metas %}
    <meta name="title" content="Elmed Klinikası - Peşəkarlaşmış şöbələrimizlə tanış olun!">
    <meta name="description" content="Klinikamızda tətbiq olunan yüksək tibbi texnologiyalar vasitəsilə pasiyentlərin sağlamlığını tam şəkildə qoruyaraq, cəmiyyətimizə ən yaxşı xidməti göstərməyə çalışırıq.">
{% endblock metas %}


{% block title %}
    <title>Şöbələr - Elmed Klinikası</title>
{% endblock title %}


{% block links %}
    {% include 'departament/departament_list/includes/links.html' %}
{% endblock links %}

{% block body %}
    {% include 'general_includes/banner/banner.html' with adress_string="Baş Səhifə" name="Şöbələr" %}
    {% include 'departament/departament_list/includes/departaments_area.html' with departaments=departaments%}

    <!-- Call to Action Area Start Here -->
    <section class="call-to-action-wrap-layout2 bg-common parallaxie" data-bg-image="img/figure/figure4.jpg">
        <div class="container">
            <div class="call-to-action-box-layout2">
                <h2>Şöbələrimizdə xəstələrimizə ən yüksək səviyyədə<span>tibbi xidməti təmin edirik.</span></h2>
                <a href="{% url 'appointment' %}" class="item-btn">Onlayn Randevu</a>
            </div>
        </div>
    </section>
    <!-- Call to Action End Here -->
{% endblock body %}

{% block scripts %}
    {% include 'departament/departament_list/includes/scripts.html' %}
{% endblock scripts %}