{% extends 'layouts/main_layout/main_layout.html' %}

{% block links %}
    {% include 'departament/departament_list/includes/links.html' %}
{% endblock links %}

{% block body %}
    {% include 'general_includes/banner/banner.html' %}
    {% include 'departament/departament_list/includes/departaments_area.html' with departaments=departaments%}

    <!-- Call to Action Area Start Here -->
    <section class="call-to-action-wrap-layout2 bg-common parallaxie" data-bg-image="img/figure/figure4.jpg">
        <div class="container">
            <div class="call-to-action-box-layout2">
                <h2>We Provide the highest level of satisfaction<span> care &amp; services to our patients.</span></h2>
                <a href="#" class="item-btn">Make an Appointment</a>
            </div>
        </div>
    </section>
    <!-- Call to Action End Here -->
{% endblock body %}

{% block scripts %}
    {% include 'departament/departament_list/includes/scripts.html' %}
{% endblock scripts %}