<div class="widget widget-categories">
    <h3 class="section-title title-bar-primary">Şöbələr</h3>
    <ul>
        <li>
            <a href="{% url 'campaign-list' %}">Hamısı
                <span>{{ total_count }}</span>
            </a>
        </li>
        {% for departament in departaments %}
            
            {% if departament.campaign_nums %}
                <li>
                    <a href="{% url 'campaign-list' %}?departament={{ departament.slug }}">{{ departament.name }}
                        <span>{{ departament.campaign_nums }}</span>
                    </a>
                </li>
            {% endif %}
                
        {% endfor %}
    </ul>
</div>