{% extends 'layouts/main_layout/main_layout.html' %}


{% block metas %}
    <meta name="title" content="Elmed Klinikası - Ən yeni tibbi məqalələr və xəbərlər">
    <meta name="description" content="Klinikamızda tətbiq olunan yüksək tibbi texnologiyalar vasitəsilə pasiyentlərin sağlamlığını tam şəkildə qoruyaraq, cəmiyyətimizə ən yaxşı xidməti göstərməyə çalışırıq.">
{% endblock metas %}

{% block title %}
    <title>Bloq - Elmed Klinikası</title>
{% endblock title %}


{% block links %}
    {% include 'blog/blog/includes/links.html' %}
{% endblock links %}


{% block body %}
    {% include 'general_includes/banner/banner.html' with adress_string="Baş Səhifə" name="Blog"%}
    <!-- Blog Grid Area Start Here -->
    <section class="blog-wrap-layout2 bg-light-primary100">
        <div class="container">
            <div class="row">
                {% include 'blog/blog/includes/articles_area.html' %}
                <div class="sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-12">
                    {% include 'blog/blog/includes/search_area.html' %}
                    {% include 'blog/blog/includes/category_area.html' with name="Kateqoriyalar"%}
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Grid Area End Here -->
{% endblock body %}


{% block scripts %}
    {% include 'blog/blog/includes/scripts.html' %}
{% endblock scripts %}
