{% load static %}
{% load adress_handler %}

<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common inner-page-top-margin" data-bg-image="{% static 'general/base/img/figure/figure2.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>{{ name }}</h1>
                    <ul>
                        {% for adress in adress_string|adress_split %}
                            <li>{{ adress }}</li>
                        {% endfor %}
                        <li>{{ name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->