{% load static %}

<!-- Gallery Area Start Here -->
<section class="appointment-wrap-layout1 bg-light-accent100">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-6">
                <div class="appointment-box-layout1">
                    <h2 class="title title-bar-primary2">Make an Appointment</h2>
                    <p>Efficiently myocardinate market-driven innovation via open-source alignments.
                        Dramatically engage
                        porescently.</p>
                    <form id="appointment-form" action="{% url 'appointment' %}" method="post"}>
                        {% csrf_token %}
                        <div class="row gutters-15">
                            <div class="col-12 form-group">
                                <select name="departament" class="select2" data-error="Phone field is required">
                                    <option value="">Select Department</option>
                                    {% for departament in departaments %}
                                        <option 
                                            value="{{ departament.id }}"
                                            {% if selected_departament == departament.slug %}selected{% endif %}>
                                            {{ departament.name }} Şöbəsi
                                        </option>
                                    {% endfor %}
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <select name="doctor" class="select2" data-error="Phone field is required">
                                    <option value="">Choose Doctor by Name</option>
                                    {% for doctor in doctors %}
                                        <option 
                                            value="{{ doctor.id }}"
                                            {% if selected_doctor == doctor.slug %}selected{% endif %}>
                                            Dr. {{ doctor.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <input type="text" placeholder="Patient Name *" class="form-control" name="name"
                                    id="form-name" data-error="Name field is required" required maxlength="50">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" placeholder="Phone *" class="form-control" name="phone" id="form-phone"
                                    data-error="Phone field is required" required maxlength="50">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" placeholder="E-mail" class="form-control" name="email" id="form-email"
                                    data-error="E-mail field is required" maxlength="50">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <i class="far fa-calendar-alt"></i>
                                <input type="text" class="form-control rt-date" placeholder="Appointment Date"
                                    name="date" id="form-date" data-error="Subject field is required"
                                    {% if selected_date %}value="{{ selected_date|date:'Y-m-d' }}"{% endif %} />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-sm-6 form-group">
                                <i class="far fa-clock"></i>
                                <input type="text" class="form-control rt-time" placeholder="Time" name="time"
                                    id="form-time" data-error="Subject field is required" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group">
                                <textarea placeholder="Type Appintment Note *" class="textarea form-control" name="note"
                                    id="form-message" rows="5" cols="20" data-error="Message field is required"
                                    required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-12 form-group text-center">
                                <button 
                                class="item-btn g-recaptcha" 
                                data-sitekey="6LcNJ9sbAAAAAGalq-RFjtKWAEMDaOQp2AnCCU5T"
                                data-callback="onSubmit" 
                                data-action="submit"
                                >Make an Appointment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="appointment-banner">
                    <img src="{% static 'general/base/img/figure/figure2.png' %}" alt="appointment" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Area End Here -->