<div class="row">
    {% for doctor in doctors %}
        <div class="col-lg-6 col-md-6">
            <div class="team-box-layout1">
                <div class="media media-none-lg media-none-md media-none--xs">
                    <div class="item-img">
                        <a href="{{ doctor.get_absolute_url }}">
                            <img src="{{ doctor.image.url }}" alt="Team1" class="img-fluid rounded-circle media-img-auto" style="width: 170px; height: 170px; object-fit: cover; object-position: top;">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="item-content">
                            <h4 class="item-title">
                                <a href="{{ doctor.get_absolute_url }}">{{ doctor.name }}</a>
                            </h4>
                            <p class="designation">{{ doctor.profession }}</p>
                            <div class="item-degree">{{ doctor.degree }}</div>
                            <ul class="item-btns">
                                <li>
                                    <a href="{{ doctor.get_absolute_url }}" class="item-btn btn-ghost">View Profile</a>
                                </li>
                                <li>
                                    <a 
                                        href="{% url 'appointment' %}?doctor={{ doctor.slug }}&departament={{ doctor.departament.slug }}" 
                                        class="item-btn btn-fill">
                                        Make an Appointment
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% if not doctors %}
    <p class="display-1 py-5 text-center">Heçbir nəticə tapılmadı :(</p>
{% endif %}