{% extends 'layouts/main_layout/main_layout.html' %}

{% block links %}
    {% include 'pages/home/includes/links.html' %}
{% endblock links %}

{% block body %}
    {% include 'pages/home/includes/slider_area.html' %}
    {% include 'pages/home/includes/action_area.html' %}
    {% include 'pages/home/includes/about_area.html' %}
    {% include 'pages/home/includes/departaments_area.html' with departaments=departaments %}
    {% include 'pages/home/includes/doctors_area.html' with doctors=doctors %}
    {% include 'pages/home/includes/blog_area.html' with articles=articles%}
    {% comment %} {% include 'pages/home/includes/featured_area.html' %} {% endcomment %}
{% endblock body %}

{% block scripts %}
    {% include 'pages/home/includes/scripts.html' %}
{% endblock scripts %}