{% extends 'layouts/main_layout/main_layout.html' %}

{% load static %}


{% block metas %}
    <meta name="title" content="Elmed Klinikası - Həkim {{ doctor.profession }} {{ doctor.name }}">
    <meta name="description" content="Həkim {{doctor.profession }} {{ doctor.name }} kimdir. Təhsili, iş saatları, əlaqə məlumatları. Haqqında oxuyun">
    <meta name="theme-color" content="#fff">

	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta property="og:url"           content="{{ request.build_absolute_uri }}"/>
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Elmed Klinikası - {{ doctor.profession }} {{ doctor.name }}"/>
	<meta property="og:description"   content="Həkim {{doctor.profession }} {{ doctor.name }} kimdir. Təhsili, iş saatları, əlaqə məlumatları. Haqqında oxuyun"/>
	<meta property="og:image"         content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ doctor.image.url }}" />
{% endblock metas %}


{% block title %}
    <title>{{ doctor.name }} {{ doctor.profession }} - Elmed Klinikası</title>
{% endblock title %}



{% block links %}
    {% include 'doctor/doctor_detail/includes/links.html' %}
{% endblock links %}


{% block body %}
{% include 'general_includes/banner/banner.html' with adress_string="Baş Səhifə,Həkimlər" name=doctor.name %}
<!-- Doctors Detail Start Here -->
    <section class="team-details-wrap-layout1 bg-light-accent100">
        <div class="container">
            <div class="row">
                <div class="order-xl-2 order-lg-2 col-xl-9 col-lg-8 col-md-12 col-12">
                    <div class="team-detail-box-layout1">
                        {% include 'doctor/doctor_detail/includes/article_area.html' %}
                        {% if doctor.doctoreducation_set.count %}
                            {% include 'doctor/doctor_detail/includes/education_area.html' %}
                        {% endif %}
                        {% include 'doctor/doctor_detail/includes/schedule_area.html' %}
                    </div>
                </div>
                <div class="order-xl-1 order-lg-1 sidebar-widget-area sidebar-break-md col-xl-3 col-lg-4 col-md-12 col-12">
                    {% include 'doctor/doctor_detail/includes/description_area.html' %}
                    {% include 'doctor/doctor_detail/includes/personal_info_area.html' %}
                </div>
            </div>
        </div>
    </section>
    <!-- Doctors Detail End Here -->
{% endblock body %}


{% block scripts %}
    {% include 'doctor/doctor_detail/includes/scripts.html' %}
{% endblock scripts %}