{% load static %}
<!DOCTYPE html>
<html lang="az">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="elmed klinikası, klinika, həkim, müalicə, diaqnoz, xəstəxana, elmed, xəstəlik, cərrah">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block metas %}
    {% endblock metas %}
    {% block title %}
    {% endblock title %}

    {% include 'layouts/main_layout/includes/links.html' %}
    {% block links %}
    {% endblock links %}
    <!-- Custom Style -->
    <link rel="stylesheet" href="{% static 'layouts/main_layout/css/custom_main_layout.css' %}">
    <!-- Modernizr Js -->
    <script src="{% static 'general/base/js/main.js' %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y932SVCY23"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Y932SVCY23');
    </script>

</head>
<body>
    {% include 'layouts/main_layout/includes/header.html' %}

    {% block body %}
    {% endblock body %}
    
    {% include 'layouts/main_layout/includes/footer.html' %}

    {% include 'layouts/main_layout/includes/scripts.html' %}
    <!-- Custom Js -->

    {% block scripts %}
    {% endblock scripts %}

    <script src="{% static 'general/base/js/main.js' %}"></script>
    
</body>
</html>