<!-- Call to Action Area Start Here -->
<section class="call-to-action-wrap-layout3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 px-2">
                <div class="call-to-action-box-layout3">
                    <div class="single-item mt-2 mt-md-0">
                        <a href="{% url 'doctor-list' %}"><i class="flaticon-search"></i> Həkim Tap</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 px-2">
                <div class="call-to-action-box-layout3">
                    <div class="single-item mt-2 mt-md-0">
                        <a href="https://goo.gl/maps/CFSey3fGoYJX4mtm9" target="_blank"><i class="fas fa-map-marker-alt"></i> Ünvana Bax</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12 px-2">
                <div class="call-to-action-box-layout3">
                    <div class="single-item mt-2 mt-md-0">
                        <a href="{% url 'campaign-list' %}"><i class="far fa-calendar-alt"></i> Kampaniyalar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action Area Start Here -->

<!-- Action Area Start Here -->
<section class="call-to-action-wrap-layout5 bg-light-secondary100">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 single-item">
                <div class="call-to-action-box-layout5">
                    <div class="media media-none-md">
                        <i class="flaticon-square"></i>
                        <div class="media-body box-content">
                            <h4 class="item-title">İş Saatları</h4>
                            <div>Həftə İçi - 09:00 - 17:00</div>
                            <div>Şənbə - 09:00 - 15:00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 single-item">
                <div class="call-to-action-box-layout5">
                    <div class="media media-none-md">
                        <i class="flaticon-first-aid-kit"></i>
                        <div class="media-body box-content">
                            <h4 class="item-title">Laborator Analizlər</h4>
                            <span>Hər növ kliniki müayinələr və testlər</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 single-item">
                <div class="call-to-action-box-layout5">
                    <div class="media media-none-md">
                        <i class="flaticon-phone-call"></i>
                        <div class="media-body">
                            <h4 class="item-title">Əlaqə Nömrəmiz</h4>
                            <span>(+994)-77-303-41-14</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Action Area End Here -->