{% load static %}

<!-- Team Area Start Here -->
<section class="team-wrap-layout1 bg-light-secondary100 pt-0">
    <img class="left-img img-fluid" src="{% static 'general/base/img/figure/figure4.png' %}" alt="figure">
    <img class="right-img img-fluid" src="{% static 'general/base/img/figure/figure5.png' %}" alt="figure">
    <div class="container">
        <div class="section-heading heading-dark text-left heading-layout1">
            <h2><a href="{% url 'doctor-list' %}" class="text-dark">Specialist Doctors</a></h2>
            <p>Experienced Doctor</p>
            <div id="owl-nav2" class="owl-nav-layout1">
                <span class="rt-prev">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="rt-next">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </div>
        </div>
        <div class="rc-carousel nav-control-layout2" data-loop="true" data-items="4" data-margin="30"
            data-autoplay="false" data-autoplay-timeout="5000" data-custom-nav="#owl-nav2" data-smart-speed="2000"
            data-dots="false" data-nav="false" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true"
            data-r-x-small-dots="false" data-r-x-medium="2" data-r-x-medium-nav="false" data-r-x-medium-dots="false"
            data-r-small="2" data-r-small-nav="false" data-r-small-dots="false" data-r-medium="3"
            data-r-medium-nav="false" data-r-medium-dots="false" data-r-large="3" data-r-large-nav="false"
            data-r-large-dots="false" data-r-extra-large="4" data-r-extra-large-nav="false"
            data-r-extra-large-dots="false">
            {% for doctor in doctors %}
                <div class="team-box-layout2" style="min-height: 614px;">
                    <div class="mb-3">
                        <a href="{{ doctor.get_absolute_url }}">
                            <img src="{{ doctor.image.url }}" alt="Team1" class="img-fluid rounded-circle mx-auto" style="width: 230px; height: 230px; object-fit: cover; object-position: top;">
                        </a>
                    </div>
                    <div class="item-content">
                        {% if doctor.name|length < 17 %}
                            <h3 class="item-title">
                                <a href="{{ doctor.get_absolute_url }}">Dr. {{ doctor.name }}</a>
                            </h3>
                        {% else %}
                            <h4 class="item-title" style="height: 33px;">
                                <a href="{{ doctor.get_absolute_url }}">Dr. {{ doctor.name }}</a>
                            </h4>
                        {% endif %}
                        
                        <p>{{ doctor.profession }}</p>
                    </div>
                    <div class="item-schedule" style="min-height: 210px;">
                        {% with doctor.schedule as schedule %}
                            {% if schedule.show_schedule %}
                                <ul>
                                    {% if schedule.monday_show %}
                                        <li>Bazar Ertəsi
                                            <span>{{ schedule.monday_start }} - {{ schedule.monday_end }}</span>
                                        </li>
                                    {% endif %}

                                    {% if schedule.tuesday_show %}
                                        <li>Çərşənbə Axşamı
                                            <span>{{ schedule.tuesday_start }} - {{ schedule.tuesday_end }}</span>
                                        </li>
                                    {% endif %}

                                    {% if schedule.wednesday_show %}
                                        <li>Çərşənbə
                                            <span>{{ schedule.wednesday_start }} - {{ schedule.wednesday_end }}</span>
                                        </li>
                                    {% endif %}

                                    {% if schedule.thursday_show %}
                                        <li>Cümə Axşamı
                                            <span>{{ schedule.thursday_start }} - {{ schedule.thursday_end }}</span>
                                        </li>
                                    {% endif %}

                                    {% if schedule.friday_show %}
                                        <li>Cümə
                                            <span>{{ schedule.friday_start }} - {{ schedule.friday_end }}</span>
                                        </li>
                                    {% endif %}

                                    {% if schedule.saturday_show %}
                                        <li>Şənbə
                                            <span>{{ schedule.saturday_start }} - {{ schedule.saturday_end }}</span>
                                        </li>
                                    {% endif %}

                                    {% if schedule.sunday_show %}
                                        <li>Bazar
                                            <span>{{ schedule.sunday_start }} - {{ schedule.sunday_end }}</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="item-schedule">
                        <a href="{% url 'appointment' %}?departament={{ doctor.departament.slug }}&doctor={{ doctor.slug }}" class="item-btn">MAKE AN APPOINTMENT</a>
                    </div>
                </div>
            {% endfor %}
            {% comment %} <div class="team-box-layout2">
                <div class="item-img">
                    <img src="{% static 'general/base/img/team/team34.png' %}" alt="Team1" class="img-fluid rounded-circle">
                    <ul class="item-icon">
                        <li>
                            <a href="single-doctor.html">
                                <i class="fas fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-doctor.html">Dr. Nadim Kamal</a>
                    </h3>
                    <p>Orthopaedics</p>
                </div>
                <div class="item-schedule">
                    <ul>
                        <li>Mon - Tues
                            <span>08.00 :17.00</span>
                        </li>
                        <li>Fri - Sat
                            <span>09.00 :12.00</span>
                        </li>
                        <li>Sun - Mon
                            <span>08.00 :17.00</span>
                        </li>
                    </ul>
                    <a href="single-doctor.html" class="item-btn">MAKE AN APPOINTMENT</a>
                </div>
            </div>
            <div class="team-box-layout2">
                <div class="item-img">
                    <img src="{% static 'general/base/img/team/team35.png' %}" alt="Team1" class="img-fluid rounded-circle">
                    <ul class="item-icon">
                        <li>
                            <a href="single-doctor.html">
                                <i class="fas fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-doctor.html">Dr. Rihana Roy</a>
                    </h3>
                    <p>Lense Expert</p>
                </div>
                <div class="item-schedule">
                    <ul>
                        <li>Mon - Tues
                            <span>08.00 :17.00</span>
                        </li>
                        <li>Fri - Sat
                            <span>09.00 :12.00</span>
                        </li>
                        <li>Sun - Mon
                            <span>08.00 :17.00</span>
                        </li>
                    </ul>
                    <a href="single-doctor.html" class="item-btn">MAKE AN APPOINTMENT</a>
                </div>
            </div>
            <div class="team-box-layout2">
                <div class="item-img">
                    <img src="{% static 'general/base/img/team/team36.png' %}" alt="Team1" class="img-fluid rounded-circle">
                    <ul class="item-icon">
                        <li>
                            <a href="single-doctor.html">
                                <i class="fas fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-doctor.html">Dr. Steven Roy</a>
                    </h3>
                    <p>Cardiology</p>
                </div>
                <div class="item-schedule">
                    <ul>
                        <li>Mon - Tues
                            <span>08.00 :17.00</span>
                        </li>
                        <li>Fri - Sat
                            <span>09.00 :12.00</span>
                        </li>
                        <li>Sun - Mon
                            <span>08.00 :17.00</span>
                        </li>
                    </ul>
                    <a href="single-doctor.html" class="item-btn">MAKE AN APPOINTMENT</a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>
<!-- Team Area End Here -->