{% extends 'layouts/main_layout/main_layout.html' %}

{% load static %}

{% block links %}
    {% include 'pages/contact/includes/links.html' %}
{% endblock links %}

{% block body %}
{% include 'general_includes/banner/banner.html' %}
<!-- Contact Us Area Start Here -->
<section class="contact-wrap-layout">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="google-map-area">
                    <div id="googleMap" style="width: 100%; height:496px;"></div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3">
                <div class="contact-box-layout1">
                    <h3 class="title title-bar-primary4">Address</h3>
                    <div class="contact-info">
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i>Medilink Technological Limited</li>
                            <li><i class="far fa-envelope"></i>example@example.com</li>
                            <li><i class="fas fa-phone"></i>(+123) 88 44400</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us Area End Here -->
{% endblock body %}

{% block scripts %}
    {% include 'pages/contact/includes/scripts.html' %}
{% endblock scripts %}