{% load static %}

<div class="col-xl-9 col-lg-8 col-12">
    <div class="row">

        {% for article in articles %}
            <div class="single-item col-md-6 col-sm-12 col-12">
                <div class="blog-box-layout4">
                    <div class="item-img">
                        <a href="{{ article.get_absolute_url }}">
                            <img src="{{ article.main_image.url }}" alt="{{ article.title }}" style="width:420px; height:234px; object-fit:cover;" class="img-fluid">
                        </a>
                        <div class="post-date">{{ article.updated|date:"n" }}
                            <span>{{ article.updated|date:"F" }}</span>
                        </div>
                    </div>
                    <div class="item-content">
                        <h3 class="item-title">
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </h3>
                        <p style="height: 120px;">{{ article.description }}</p>
                        <div class="post-actions-wrapper">
                            <ul>
                                {% if article.doctor %}
                                    <li>Həkim: <a href="{{ article.doctor.get_absolute_url }}">{{ article.doctor.name }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'general_includes/pagination/pagination.html' with page_obj=page_obj page_list=page_list%}
</div>