{% load static %}

<div class="col-xl-9 col-lg-8 col-12">
    <div class="row">
        <div class="single-item col-md-6 col-sm-12 col-12">
            <div class="blog-box-layout4">
                <div class="item-img">
                    <a href="single-news.html">
                        <img src="{% static 'general/base/img/blog/blog1.jpg' %}" class="img-fluid" alt="blog">
                    </a>
                    <div class="post-date">22
                        <span>June</span>
                    </div>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-news.html">My dental office need a blog area scrambled type</a>
                    </h3>
                    <p>Rmply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the
                        industry’s standard dummy text ever since thRmply dummy text of the
                        printing
                        and typesetting industry.
                    </p>
                    <div class="post-actions-wrapper">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="flaticon-people"></i>by
                                    <span>admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-interface"></i>15</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-item col-md-6 col-sm-12 col-12">
            <div class="blog-box-layout4">
                <div class="item-img">
                    <a href="single-news.html">
                        <img src="{% static 'general/base/img/blog/blog2.jpg' %}" class="img-fluid" alt="blog">
                    </a>
                    <div class="post-date">21
                        <span>June</span>
                    </div>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-news.html">My dental office need a blog area scrambled type</a>
                    </h3>
                    <p>Rmply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the
                        industry’s standard dummy text ever since thRmply dummy text of the
                        printing
                        and typesetting industry.
                    </p>
                    <div class="post-actions-wrapper">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="flaticon-people"></i>by
                                    <span>admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-interface"></i>15</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-item col-md-6 col-sm-12 col-12">
            <div class="blog-box-layout4">
                <div class="item-img">
                    <a href="single-news.html">
                        <img src="{% static 'general/base/img/blog/blog3.jpg' %}" class="img-fluid" alt="blog">
                    </a>
                    <div class="post-date">20
                        <span>June</span>
                    </div>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-news.html">My dental office need a blog area scrambled type</a>
                    </h3>
                    <p>Rmply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the
                        industry’s standard dummy text ever since thRmply dummy text of the
                        printing
                        and typesetting industry.
                    </p>
                    <div class="post-actions-wrapper">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="flaticon-people"></i>by
                                    <span>admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-interface"></i>15</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-item col-md-6 col-sm-12 col-12">
            <div class="blog-box-layout4">
                <div class="item-img">
                    <a href="single-news.html">
                        <img src="{% static 'general/base/img/blog/blog10.jpg' %}" class="img-fluid" alt="blog">
                    </a>
                    <div class="post-date">20
                        <span>June</span>
                    </div>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-news.html">My dental office need a blog area scrambled type</a>
                    </h3>
                    <p>Rmply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the
                        industry’s standard dummy text ever since thRmply dummy text of the
                        printing
                        and typesetting industry.
                    </p>
                    <div class="post-actions-wrapper">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="flaticon-people"></i>by
                                    <span>admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-interface"></i>15</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-item col-md-6 col-sm-12 col-12">
            <div class="blog-box-layout4">
                <div class="item-img">
                    <a href="single-news.html">
                        <img src="{% static 'general/base/img/blog/blog11.jpg' %}" class="img-fluid" alt="blog">
                    </a>
                    <div class="post-date">20
                        <span>June</span>
                    </div>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-news.html">My dental office need a blog area scrambled type</a>
                    </h3>
                    <p>Rmply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the
                        industry’s standard dummy text ever since thRmply dummy text of the
                        printing
                        and typesetting industry.
                    </p>
                    <div class="post-actions-wrapper">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="flaticon-people"></i>by
                                    <span>admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-interface"></i>15</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-item col-md-6 col-sm-12 col-12">
            <div class="blog-box-layout4">
                <div class="item-img">
                    <a href="single-news.html">
                        <img src="{% static 'general/base/img/blog/blog12.jpg' %}" class="img-fluid" alt="blog">
                    </a>
                    <div class="post-date">20
                        <span>June</span>
                    </div>
                </div>
                <div class="item-content">
                    <h3 class="item-title">
                        <a href="single-news.html">My dental office need a blog area scrambled type</a>
                    </h3>
                    <p>Rmply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the
                        industry’s standard dummy text ever since thRmply dummy text of the
                        printing
                        and typesetting industry.
                    </p>
                    <div class="post-actions-wrapper">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="flaticon-people"></i>by
                                    <span>admin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-interface"></i>15</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'general_includes/pagination/pagination.html' %}
</div>